/* Grobal */
:root{
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #f09494;
    --color-dark-pink: #c24545;
    --color-black: #363636;
    --color-dark-grey: #535353;
    --color-light-grey: #6b6b6b;
    --color-blue:#859dc9;
    --color-yellow: #f7dd69;
    --color-orange: #ffbd52;
    --color-black: #000000;

    /* Font size */
    --font-large: 48px; 
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px; 

    /* Font weight */
    --weght-bold: 700;
    --weght-semi-bold: 600;
    --weght-regular: 400;
}

    /* Universal tags */
    * {
        box-sizing: border-box;
    }

    /* Typography */
    h1{
        font-size: var(--font-large);
        font-weight: var(--weght-bold);
        color: var(--color-black);
        margin: 16px 0;
    }

    h2{
        font-size:var(--font-medium);
        font-weight:var(--weght-semi-bold);
        color:var(--color-black);
        margin: 8px 0;
    }

    h3{
        font-size:var(--font-regular);
        font-weight:var(--font-regular);
        color:var(--color-black);
        margin: 8px 0;
    }

    p{
        font-size:var(--font-regular);
        font-weight:var(--font-regular);
        color:var(--color-black);
        margin: 4px 0;
    }